body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #42210d;
    display: flex;
    justify-content: center;
    align-items: center;
} /*configuration of my body*/





.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11rem;
} /*containing my elements, putting them at center of my page*/



.child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: white;
} 

.numbers {
    font-size: 4rem;
    font-weight: bold;
}


img {
    width: 60%;
    height: 50%;
    /* box-shadow:  -2px 13px 46px 2px rgb(26, 26, 26); */
    
}

.imgparent {
    display: flex;
    justify-content: center;
    
}  

